.article {
  /* border: 1px solid tomato; */
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right_wrapper {
  width: 100%;
  min-width: 750px;
}
.footer {
  height: 10vh;
  width: 100%;
  /* border: 1px solid sandybrown; */
}
