:root {
  /* --color_primary: #212121;
  --color_primary_light: #484848;
  --color_primary_dark: #000000;
  --font_primary: white; */
  --color_primary: #81c784;
  --color_primary_light: #b2fab4;
  --color_primary_dark: #519657;
  --font_primary: #484848;

  --color_secondary: #f57f17;
  --color_secondary_light: #ffb04c;
  --color_secondary_dark: #bc5100;
  --font_secondary: #484848;
}

input,
select,
button,
.switch_box {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  box-shadow: 1px 1px grey;
}
input:focus,
select:focus,
button:active {
  transform: translateY(1px);
}

.form_wrapper {
  /* height: 90vh; */
  /* overflow: scroll; */
  background-color: var(--color_primary);
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 300px;
  align-items: center;
  border-radius: 5%;
}
.form_div_right {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form_div_common {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  /* display: inline-block; */
  /* margin-top: 50px; */
  position: relative;
  /* height: 100px; */
}

.form input {
  position: absolute;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
}

.form select {
  position: absolute;
  display: flex;
  align-items: center;
  width: 270px;
  height: 40px;
}

.form input,
.form select {
  border-radius: 7px;
  padding-left: 90px;
  transition: all 0.3s ease-in-out;
}

.form input:focus {
  width: 260px;
  padding-left: 10px;
}
.form select:focus {
  width: 270px;
  padding-left: 10px;
}

.form input.not_valid {
  position: absolute;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
  padding-left: 40px;
}

.form select.not_valid {
  position: absolute;
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  padding-left: 40px;
}

.form input.not_valid:focus {
  width: 210px;
  padding-left: 10px;
}
.form select.not_valid:focus {
  width: 220px;
  padding-left: 10px;
}

.form label {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 40px;
  background-color: var(--color_primary_light);
  color: var(--font_primary);
  top: 0;
  left: 0;
  transition: 0.5s;
}

.form input:focus ~ label,
.form select:focus ~ label {
  border-radius: 7px;
  height: 30px;
  top: -40px;
  left: 0;
  font-weight: bold;
}

input.not_valid,
select.not_valid {
  background-color: var(--color_secondary_light);
  color: var(--font_primary);
  justify-content: right;
  animation: alert 1.3s 1 ease-in;
}
@keyframes alert {
  50% {
    background-color: var(--color_secondary_dark);
    color: white;
  }
  90% {
    background-color: var(--color_secondary_light);
    color: var(--font_primary);
  }
}
input.not_valid ~ label,
select.not_valid ~ label {
  transform-origin: 0 0;
  border-radius: 7px;
  color: var(--color_secondary_dark);
  font-weight: bold;
  animation: swing 1.3s 1 ease-in-out;
  transform: rotate(60deg);
}

.form input.not_valid:focus ~ label,
.form select.not_valid:focus ~ label {
  transform: rotate(10deg);
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  55% {
    transform: rotate(47deg);
  }
  70% {
    transform: rotate(60deg);
  }
  85% {
    transform: rotate(55deg);
  }
  95% {
    transform: rotate(60deg);
  }
}

.reason {
  display: flex;
  justify-content: space-around;
  color: var(--color_secondary_dark);
  font-weight: bold;
  top: 50px;
  position: relative;
  width: 220px;
}

/* 위에는 input select */
/* 아래는 버튼 */
.form button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  border-radius: 7px;
  color: white;
}
.form button:hover {
  font-weight: bolder;
}

.form button {
  margin: 3px;
}
.form button.positive {
  background-color: var(--color_primary_dark);
}
.form button.negative {
  background-color: var(--color_primary_dark);
}

.form .switch_box {
  width: 80px;
  height: 40px;
  border-radius: 50px;
  margin: 5px;
  display: flex;
  background-color: var(--color_primary_light);
  align-items: center;
}
.form .switch_box.on {
  flex-direction: row-reverse;
}
.form .switch_box.off {
  flex-direction: row;
}
.switch_box .switch {
  /* border: 1px solid red; */
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: var(--color_primary_dark);
}
.switch_box:active > .switch {
  transform: translateY(1px);
}
.switch_name {
  margin: 0 5px;
  font-size: 10px;
  align-items: end;
  justify-items: center;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
